@import url('https://fonts.googleapis.com/css?family=Muli:500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  color: rgba(34, 40, 49, 1);
  text-decoration: none;
  background-color: rgb(232, 232, 232);
}

header li,
a,
button {
  font-size: 16px;
  color: rgba(238, 238, 238, 1);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10%;
  background-color: #222831;
  /*dodaj navbar na top strani*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 90px;
}

header img {
  width: 80px;
  height: 80px;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
  background-color: rgba(34, 40, 49, 1);
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  color: rgba(238, 238, 238, 1);
  background-color: rgba(34, 40, 49, 1);
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  color: rgba(238, 238, 238, 1);
  background-color: #222831;
}

.nav_links li a:hover {
  color: #eeeeee;
}

header img {
  border: 0;
  padding: 0;
  background: transparent;
}

.cta button {
  padding: 9px 25px;
  background-color: rgba(0, 173, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.cta button:hover {
  background-color: rgba(0, 173, 181, 0.6);
}
.cta {
  background-color: rgba(34, 40, 49, 1);
}

.dropdown{
  background-color: rgba(34, 40, 49, 1);
  border-radius: 5px;
}
.dropbtn{
  padding: 9px 25px;
  background-color: rgba(0, 173, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0);
  min-width: 160px;
  border-radius: 5px;
  padding-top: 3px;

  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgba(238, 238, 238, 1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: rgba(0, 173, 181, 0.8);

}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;

}

header a {
  background-color: rgba(34, 40, 49, 1);
}

.underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: rgba(0, 173, 181);
  transition: width 0.3s;
}

.underline:hover::after {
  width: 100%;
  transition: 0.3s;
}

.ogrodje {
  top: 90px;
  display: flex;
  width: 100%;

  position: relative;
  /*min-height: calc(100%-90px), 5px;*/
  height: calc(100%-90px), 5px;
}

.levo {
  position: relative;

  width: 20%;
  height: 100vh;
  float: left;

  min-height: 991, 5px;
  height: auto;
}

.desno {
  position: relative;
  width: 20%;
  float: left;
}

.vsebina {
  position: relative;

  width: 60%;
  height: auto;
  float: left;

  border-left: 1px solid rgb(220,220,220);
  border-right: 1px solid rgb(220,220,220);
}

.glava {
  position: relative;
  /*ozadje malce nagaja, ker je rdeče*/
  background-color: rgba(204, 204, 204, 1);
  width: 100%;
  height: 40px;
  font-size: 25px;
  text-align: center;
}


.naslov_sklopa {
  position: relative;

  width: 100%;
  height: 200px;
  height: 35px;
}

.vsebina_sklopa {
  position: relative;

  width: 100%;
  border-top: 2px solid rgba(204, 204, 204, 1);
  display: block;
}

.vsebina_sklopa ul{
  color: #222831;
  list-style-type: square;
}

.vsebina_sklopa li{
  color: #222831;
  margin-left: 25px;
}

.vsebina_sklopa p{
  margin-top: 5px;
  margin-bottom: 2px;
}

.dodaj_sklop {
  position: relative;

  width: 100%;
  background-color: rgba(34, 40, 49, 1);
  height: 200px;
  height: 35px;

  display: block;
}

form.dodaj_sklop  {
  position: relative;

  padding-left: 5px;
  padding-right: 5px;
}

.dodaj_sklop input[type="submit"] {
  float: right;
  width: 18%;

  font-size: 25px;
  color: rgba(238, 238, 238, 1);
  background: rgba(57, 62, 70, 1);

  border: 1px solid rgba(0, 173, 181, 1);
  border-radius: 10px;
}

.dodaj_sklop input[type="text"] {
  float: left;
  width: 78%;

  font-size: 25px;
  color: rgba(238, 238, 238, 1);
  background: rgba(57, 62, 70, 1);

  border: 1px solid rgba(0, 173, 181, 1);
  border-radius: 10px;
}

.dodaj_sklop input[type="text"]:focus {
  border: 1px solid rgba(0, 173, 181, 1);
  border-radius: 10px;
}

.dodaj_sklop input[type="password"]:focus {
  border: 1px solid rgba(0, 173, 181, 1);
  border-radius: 10px;
}

.dodaj_sklop input[type="submit"]:hover {
  border: 1px solid rgba(0, 173, 181, 1);
  outline: none;
  background-color: rgba(0, 173, 181, 1);
  border-radius: 10px;
  transition: background-color 400ms ease;
}

.leva_skatla {
  position: relative;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  min-height: 300px;
  background-color: rgba(238, 238, 238, 1);
  border: 2px solid rgba(0, 173, 181, 1);
  border-radius: 10px;
  text-align: center;
}

.leva_skatla ul{
  list-style-type: none !important;
  background-color: inherit;
}

.leva_skatla li{
  background-color: inherit;
}

.leva_skatla a{
  background-color: inherit;
}


.desna_skatla {
  position: relative;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  min-height: 300px;
  background-color: rgba(238, 238, 238, 1);
  border: 2px solid rgba(0, 173, 181, 1);
  border-radius: 10px;
  text-align: center;
}

.desna_skatla ul{
  list-style-type: none !important;
  background-color: inherit;
}

.desna_skatla li{
  background-color: inherit;
}

.desna_skatla a{
  background-color: inherit;
}

#formul{
  list-style: none;
  padding: 0; 
}

.form button{
  padding: 7px 20px;
  background-color: rgba(0, 173, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  margin-left: 3px;
}

.form button:hover {
  background-color: rgba(0, 173, 181, 0.6);
}

.form input{
  margin-top: 3px;
  margin-left: 3px;
  height: 30px;
  border-radius: 5px;
}

.form ul{
  list-style: none !important;
  left: 0;
}

.form li{
  margin-left: 0 !important;
}

.form input[type=file]{
  width: 90%;
}
.form input[type=text]{
  width: 90%;
  background: #cccccc;
  border: none;
  border-color: black;
}

.ime_sklopa input[type=text]{
  width: 85%;
}

#form input[type=submit]{
  padding: 3px 15px;
  background-color: rgba(0, 173, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.form input[type=submit]:hover {
  background-color: rgba(0, 173, 181, 0.6);
}

#iddiv button {
  padding: 7px 25px;
  background-color: rgba(0, 173, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  margin-left: 5px;
  margin-top: 3px;

}

#iddiv button:hover {
  background-color: rgba(0, 173, 181, 0.6);
}

.vsebina_sklopa p button{
  padding: 5px 20px;
  background-color: rgba(201, 48, 44, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  margin-top: 3px;
} 

.vsebina_sklopa p button:hover {
  background-color: rgba(0, 173, 181, 0.6);
}

.vsebina_sklopa div button{
  padding: 7px 25px;
  background-color: rgba(0, 173, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: 3px;
} 

.vsebina_sklopa div button:hover{
  background-color: rgba(0, 173, 181, 0.6);
} 

.vsebina_sklopa p button:hover {
  background-color: rgba(201, 48, 44, 0.6);
}

.vsebina_sklopa li button{
  padding: 3px 15px;
  background-color: rgba(201, 48, 44, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  margin-left: 5px;
} 

.vsebina_sklopa li button:hover {
  background-color: rgba(201, 48, 44, 0.6);
}

.vsebina_sklopa  p button:nth-child(2){
  padding: 5px 20px;
  background-color: rgba(0, 173, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  margin-top: 3px;
  margin-left: 5px;
} 

.vsebina_sklopa button:hover:nth-child(2) {
  background-color: rgba(0, 173, 181, 0.6);
}

.vsebina_sklopa form button{
  padding: 7px 20px;
  background-color: rgba(0, 173, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  margin-left: 3px;
}

.vsebina_sklopa form input[type="submit"]{
  padding: 3px 15px;
  background-color:rgba(0, 173, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  margin-top: 3px;
  margin-left: 5px;
  height: 30px;
}

.vsebina_sklopa form input[type="submit"]:hover{
  background-color: rgba(0, 173, 181, 0.6);
}

.ogrodje a{
  color: rgba(34, 40, 49, 1);
  font-size: 16px;
}


.login {
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(34, 40, 49, 1);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(34, 40, 49, 1);
  border-radius: 10px;
  color: rgba(238, 238, 238, 1);
}

.login h2 {
  margin: 0 0 30px;
  padding: 0;
  background: rgba(34, 40, 49, 1);
  text-align: center;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgba(238, 238, 238, 1);
  text-decoration: none;
}

.login input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  color: rgba(238, 238, 238, 1);
  border: 1px solid rgba(238, 238, 238, 1);
  outline: none;
  background: rgba(57, 62, 70, 1);
  border-radius: 10px;
}

.vnos {
  background-color: rgba(34, 40, 49, 1);
}

.login form {
  background-color: rgba(34, 40, 49, 1);
}

.login input[type="text"]:focus {
  border: 1px solid rgba(0, 173, 181, 1);
  border-radius: 10px;
}

.login input[type="password"]:focus {
  border: 1px solid rgba(0, 173, 181, 1);
  border-radius: 10px;
}

/*klik na gumb*/
.login input[type="submit"]:hover {
  border: 1px solid rgba(0, 173, 181, 1);
  outline: none;
  background-color: rgba(0, 173, 181, 1);
  border-radius: 10px;
  transition: background-color 400ms ease;
}


div.create{
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background: #eeeeee;
  border-radius: 10px;
  border: 3px solid rgba(0, 173, 181, 1);
}

.create p{
  margin: 0 0 15px;
  padding: 0;
  background: inherit;
  text-align: center;
}

.create select{
  width: 100%;
  padding: 10px 0;
  border: 1px solid rgba(0, 173, 181, 1);
  outline: none;
  font-size: 16px;

  background: inherit;
  border-radius: 5px;
  margin-bottom: 30px;

}

.create input[type="text"], .create input[type="password"], .create input[type="submit"]{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 173, 181, 0.5);
  outline: none;
  border-radius: 5px;
}

.create input[type="text"]:focus, .create input[type="password"]:focus, .create input[type="submit"]:focus{
  transition: background 400ms ease;
  border: 2px solid rgba(0, 173, 181, 1);
  
}

.create input[type="submit"]:hover{
  border: 1px solid rgba(0, 173, 181, 1);
  outline: none;
  background-color: rgba(0, 173, 181, 1);
  transition: background 400ms ease;
}

.create form{
  background-color: inherit;
}

#vnosForm{
  margin-left: 3px;
  margin-top: 15px;
  border-radius: 5px !important;
}

#vnosForm input{
  border-radius: 5px !important;
}

#vnosForm ul{
  list-style: none;
  margin-top: 5px;
  border-radius: 5px !important;
}

#vnosForm button{
  border-radius: 5px !important;
  height: 30px;
  background-color: rgba(0, 173, 181, 1);
  border: 1px solid rgba(0, 173, 181, 1);
  margin-left: 3px;
  padding: 3px 15px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  margin-top: 3px;
}

#vnosForm button:hover{
  background-color: rgba(0, 173, 181, 0.6);
}

#vnosForm input[type="submit"]{
  background-color: rgba(0, 173, 181, 1);
  border: 1px solid rgba(0, 173, 181, 1);
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

#vnosForm input[type="submit"]:hover{
  border: 1px solid rgba(0, 173, 181, 1);
  outline: none;
  background-color: rgba(0, 173, 181, 0.6);
  transition: background 400ms ease;
}

#vnosForm ul input{
  height: 30px;
  margin-right: 3px;
}

#vnosForm ul input[type="text"]{
  width: 80%;
  background:#cccccc;
  border: none;
  border-radius: 5px;
}

#vnosForm form input{
  border: 1px solid rgba(0, 173, 181, 1);
  margin-right: 5px;
}

table {
  width: 100%;
  border: 2px solid rgba(0, 173, 181, 1);
  border-radius: 5px;
  margin-top: 5px;
  border-collapse: collapse;
  text-align: center;
}

table th, td{
  border: 1px solid rgba(0, 173, 181, 1);
  border-collapse: collapse;
}

table th{
  font-weight: 700;
  border-bottom: 2px solid rgba(0, 173, 181, 1);
  background-color: rgba(204, 204, 204, 1);
}

table tr:nth-child(odd) td{
  background-color: rgb(240, 240, 240);
}

table a{
  background-color: inherit;
  color: rgba(0, 173, 181, 1) !important;
}

#ustvari_test {
  border-radius: 5px !important;
  height: 30px;
  background-color: rgba(0, 173, 181, 1);
  border: 1px solid rgba(0, 173, 181, 1);
  margin-left: 3px;
  padding: 3px 15px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  margin-top: 10px;
}

#ustvari_test:hover{
  background-color: rgba(0, 173, 181, 0.6);
  border: 1px solid rgba(0, 173, 181, 0.6);

}